<div class="divFundo">
    <div class="divPrincipal">
    
        <h3 style="color: rgb(9, 128, 128)">Edite sua contribuição!</h3>
        <div class="form-group">
          <label for="formGroupExampleInput">Nome:</label>
          <input [(ngModel)]='colaborador.nomeColaborador' type="text" class="form-control" id="nome" (click) = "teste()">
        </div>

        <div class="form-group">
          <label for="formGroupExampleInput">CPF (sem ponto ou hífen):</label>
          <input [(ngModel)]='colaborador.cpf' type="text" class="form-control" id="nome" (click) = "teste()">
        </div>
        
        <div class="form-group mt-3">
            <label for="formGroupExampleInput">Escolha até 2 opções de comida:</label>
            <input [(ngModel)]='colaborador.opcao1'  type="text" class="form-control" id="opcao1" placeholder="Ex: banana, suco, etc..."  (click) = "teste()">
          </div>
          <div class="form-group ">
            
            <input [(ngModel)]='colaborador.opcao2' type="text" class="form-control" id="opcao2" placeholder="Ex: banana, suco, etc..." (click) = "teste()">
    
            <button type="submit" class="button1 mt-3" (click) = "atualizar()" >Confirmar Alterações</button>
            <button class="button1 mt-3" routerLink='/lista' > Cancelar</button>
          </div>
      
    </div>
    </div>
